.wd-search-tuiter-icon {
    bottom: 10px;
    left: 10px;
}

.wd-search-cog-icon {
    top: 3px;
    right: 5px;
}

.wd-tick-icon {
    font-size: 0.5em;
}

body {
    background-color: black;
    color: white;
}

/*.wd-nav-tabs {*/
/*    color: rgb(110, 118, 125);*/
/*    padding: 0px;*/
/*}*/

/*.wd-nav-tabs li {*/
/*    list-style-type: none;*/
/*    display: inline-block;*/
/*    font-size: 15px;*/
/*    padding: 16px;*/
/*}*/

.wd-tab-selected {
    border-bottom: 3px solid;
    width: 100px;
    border-color: deepskyblue;
    padding-bottom: 10px;
    color: white;
}

.wd-fa-1_5x {
    font-size: 1.5em;
}

.wd-border-main {
    border-width: 1px;
    border-color: rgb(47, 51, 54);
    border-style: solid;
}

.wd-border-follow {
    border-width: 1px;
    border-color: rgb(47, 51, 54);
    border-style: solid;
}

.wd-follow-bg-color {
    background-color: rgb(47, 51, 54);
}

.wd-follow-text {
    font-size: 0.5em;
    margin-top: 20px;
    margin-left: 20px;
}

.wd-ufo-icon-color {
    color: orange;
}

.wd-content-img-border {
    width: 504px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.wd-content-img-text-border {
    width: 504px;
    padding-top: 10px;
    padding-left: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}